@import "styles/variables.scss";

.navigation-section {
    position: relative;
    background: $dark;
    color: $light;

    .main-navbar {
       display: flex;
       justify-content: space-between;

       .navbar-brand {
        padding: 5px;
        font-weight: bold;
        color: $light;
        font-size: 32px;

        p {
            font-size: 16px;
            font-style: italic;
        }
       }

       .navbar-list {
           display: flex;
           gap: 20px;
           list-style-type: none;
           margin: 0;

           .navbar-list-item {
               border-top: 2px solid transparent;
               font-weight: bold;

               &:hover{ 
                    border-top: 2px solid $light;
               }

              a {
                color: $light; 
              }
           }
       }
    }
}
