@import "styles/variables.scss";

.contacts-section.section {
    position: relative;
    min-height: 200px;
    background: $light;
    color: $dark;
    padding-top: 100px;

    .contacts-container.container {
        .main-footer {
            text-align: center;
            color: $dark;
            position: relative;

            h3 {
                text-align: right;
                font-size: 32px;
            }

            ul.contacts {
                display: flex;
                justify-content: space-between;
                font-weight: bold;

                .contact-icon {
                    width: 60px;
                    height: 60px;
                }

                li {
                    list-style-type: none;
                    margin: 55px 0;

                    .external-link {
                        display: block;
                        color: $dark;

                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }
            }
        }
    }
}
