.country-list {

    margin-top: 45px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    .country-list-item {
        display: flex;
        gap: 5px;
        align-items: center;
        margin-bottom: 15px;
        
        .country-img-container {
            max-width: 50px;
            width: 100%;


            .country-img {
                display: block;
                width: 100%;
            }
        }
    }

}