@import "styles/variables.scss";

.about-us-section.section {
    .about-us-container.container {

    
       h3{
           font-size: 32px;
       }

       .about-us {
           display: flex;

           .about-us-text {
            width: 100%;

               font-size: 20px;
               padding: 20px 0;
               text-justify: newspaper;

               p {
                   margin-bottom: 10px;

                   .bold {
                       font-weight: bold;
                   }
               }

               ul.our-services-list  {
                   list-style-position: inside;
                   list-style-type: none;

                   li {
                       display: flex;
                       align-items: center;
                       gap: 15px;
                   }
               }
           }

           .about-us-pictures {
                width: 100%;

                img {
                    display: block;
                    width: 100%;
                    box-shadow: 0px 0px 15px 1px rgba(30, 50, 90, 0.55);
                    border-radius: 5px;
                }
            }

            @media (max-width: 1024px) {
                display: block;

                .about-us-pictures {
                    width: 75%;
                    margin: 0 auto;
                }

                .about-us-text {
                    margin: 0 auto;
                }
            }
       }
    }
}
