@import "styles/variables.scss";

.cargo-service-section.section {
    position: relative;
    background: $dark;
    color: $light;
    padding-bottom: 100px;

    .cargo-service-container.container {
        h3 {
            font-size: 32px;
        }

        .cargo-services {

            .truck-types-list {
                display: flex;
                justify-content: space-around;
                list-style-type: none;
                margin: 15px 0;


                .truck-type-list-item {
                    justify-content: center;
                    align-items: center;
                    display: flex;
                    flex-direction: column;

                    svg {
                        width: 3em;
                        height: 3em;
                    }
                }

                @media (min-width: 1024px) {
                    justify-content: space-between;
                }
            }

            .trucks-list {
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;

                img {

                    transition: all 0.3s ease-in-out;
                    border-radius: 5px;
                    max-width: 320px;
                }

                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
                gap: 50px;


                @media (max-width: 1024px) {
                    justify-content: center;
                }

            }
        }
    }
}