.trip-image-list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 50px;


    @media (max-width: 1024px) {
        justify-content: space-around;
    }

    .trip-image {
        border-radius: 5px;

        @media (max-width: 1024px) {
            max-width: 500px;
            width: 100%;
        }
    }
}