@import "styles/variables.scss";

.our-customers-section.section {
    .our-customers-container.container {
       h3 {
           font-size: 32px;
       }

       .our-clients-list {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;

            @media (max-width: 1024px) {
                justify-content: center;
                gap: 20px;
            }
       }
    }
}
