section[class*="-section"].section{
    width: 100%;
    display: block;
    border: 1px solid red;
    min-height: 500px;

    div[class*="-container"].container {
        max-width: 1460px;
        padding: 20px;
        margin: 0 auto;
    }
}
