@import "styles/variables.scss";

.excursions-service-section.section {
    position: relative;
    background: $dark;
    color: $light;
    padding: 100px 0;

    .excursions-service-container.container {
        display: flex;
        flex-direction: column;

        h3 {
            text-align: right;
            font-size: 32px;
        }

        .trip-quote {
            font-size: 24px;
        }

        .excursions {
            display: flex; 
        }

    }
}
